body {
    background-image: url(fabric.jpeg);
    background-size: cover;
    min-height: 500px;
    background-color: darkslateblue;
    background-attachment: fixed;
    color:azure;
}
h1 {
    font-size: 48px;
    margin-left: 33%;
    margin-top: 30px;
}
.lyrics {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 33%;
}